<?xml version="1.0"?>

<robot name="ackbot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="wheel_transmission" params="wheel_prefix">
        <transmission name="${wheel_prefix}_wheel_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
            <!-- <type>transmission_interface/SimpleTransmission</type> -->
            <actuator name="${wheel_prefix}_wheel_motor" role="${wheel_prefix}_wheel_motor">
                <hardwareInterface>VelocityJointInterface</hardwareInterface>
            </actuator>
            <joint name="${wheel_prefix}_wheel" role="{wheel_prefix}_wheel">
                <hardwareInterface>VelocityJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </joint>
        </transmission>
    </xacro:macro>

    <xacro:macro name="steering_hinge_transmission" params="wheel_prefix">
        <transmission name="${wheel_prefix}_wheel_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
            <!-- <type>transmission_interface/SimpleTransmission</type> -->
            <actuator name="${wheel_prefix}_steer_motor" role="${wheel_prefix}_steer_motor">
                <hardwareInterface>PositionJointInterface</hardwareInterface>
            </actuator>
            <joint name="${wheel_prefix}_steer" role="${wheel_prefix}_steer">
                <hardwareInterface>PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </joint>
        </transmission>
    </xacro:macro>

</robot>
