<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ackrobot">
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find description)/config/gazebo_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="virtual_front_wheel_joint">
            <command_interface name="position">
                <param name="min">-0.4</param>
                <param name="max">0.4</param>
            </command_interface>
        </joint>

        <joint name="virtual_rear_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-5</param>
                <param name="max">5</param>
              </command_interface>
        </joint>
    </ros2_control>

    <gazebo reference="chassis"> 
      <!--Stiffness -->  
      <kp>1000000.0</kp> 
      <!--Dampening-->  
      <kd>0.1</kd> 
      <dampingFactor>0</dampingFactor> 
      <material>Gazebo/Grey</material> 
      <selfCollide>true</selfCollide> 
      <turnGravityOff>false</turnGravityOff> 
      <mu1 value="0.1"/> 
      <mu2 value="0.1"/> 
      <fdir1 value="0 0 0"/> 
    </gazebo>

    <gazebo reference="front_right_wheel_link"> 
      <mu1 value="2.0"/> 
      <mu2 value="2.0"/> 
      <kp  value="10000000.0" /> 
      <kd  value="1.0" /> 
      <fdir1 value="0 1 0"/> 
      <material>Gazebo/Orange</material> 
    </gazebo>

    <gazebo reference="front_left_wheel_link"> 
      <mu1 value="2.0"/> 
      <mu2 value="2.0"/> 
      <kp  value="10000000.0" /> 
      <kd  value="1.0" /> 
      <fdir1 value="0 1 0"/> 
      <material>Gazebo/Orange</material> 
    </gazebo>

    <gazebo reference="rear_right_wheel_link"> 
      <mu1 value="2.0"/> 
      <mu2 value="2.0"/> 
      <kp  value="10000000.0" /> 
      <kd  value="1.0" /> 
      <fdir1 value="0 1 0"/> 
      <material>Gazebo/Orange</material> 
    </gazebo>

    <gazebo reference="rear_left_wheel_link"> 
      <mu1 value="2.0"/> 
      <mu2 value="2.0"/> 
      <kp  value="10000000.0" /> 
      <kd  value="1.0" /> 
      <fdir1 value="0 1 0"/> 
      <material>Gazebo/Orange</material> 
    </gazebo>

    <gazebo reference="virtual_front_wheel_joint"> 
      <!-- <mu1 value="2.0"/> 
      <mu2 value="2.0"/> 
      <kp  value="10000000.0" /> 
      <kd  value="1.0" /> 
      <fdir1 value="0 1 0"/>  -->
      <material>Gazebo/Red</material> 
    </gazebo>

    <gazebo reference="virtual_rear_wheel_joint"> 
      <!-- <mu1 value="2.0"/> 
      <mu2 value="2.0"/> 
      <kp  value="10000000.0" /> 
      <kd  value="1.0" /> 
      <fdir1 value="0 1 0"/>  -->
      <material>Gazebo/Red</material> 
    </gazebo>

</robot>